{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
    <h1 class="mt-5">Inventory</h1>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tools %}
            <tr>
                <td>{{ tool.name }}</td>
                <td>{{ tool.location }}</td>
                <td>{{ 'Rented by ' ~ tool.rented_by if tool.rented_by else 'Free' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
